{{/*
    Wide page payout (no menu)

*/ -}}
<html>
<head>
  {{ if .Error }}{{ if not .Title }}{{ printf "Error %d: Sorry" .Status | .SetTitle }}{{ end }}{{ end -}}
  {{ template "head" . -}}
</head>
<body>
    {{ if .Error }}{{ .ErrorMessage }}
    {{ else}}{{ content | HTML -}}
    {{ end -}}
  {{ template "foot" . -}}
</body>
</html>
